extends layout/layout.pug

block header
    script(type='text/javascript').
      $(document).on("click", ".show", function () {
        $(".ui.modal").modal("setting", {
          closable: false,
          onApprove: function () {
            return false;
          }
        }).modal("show");
      })
  
block content
    .ui.small.modal
      i.close.icon
      .header Create New Project
      .content
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |  
            input(type='text', name='title', placeholder='Your Project Name')
          .field
            label Description :
            |  
            input(type='text', name='description', placeholder='Something about your project')
          .field
            label Language :
            select.ui.dropdown(name='language')
               option(value='0') Python
          .field
            label Buddy ID :
            |  
            input(type='hidden' name='creator' value=user.username)
            input(type='text', name='collaborator', placeholder='Your buddy')
          .field
            label Time  :
            select.ui.dropdown(name='swaptime')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
          .ui.form
            .inline.fields
              .fields
                label(for='theme') Select your theme:
                .field
                  .radio.checkbox
                    input.hidden(type='radio', name='theme', checked='', tabindex='0')
                    |  
                    label White (default)
                    img.logo.small(src='images/whiteEditorTheme.PNG' ,width='80%', height='80%')
                .field
                  .radio.checkbox
                    input.hidden(type='radio', name='theme', tabindex='0')
                    |  
                    label Blackboard
                    img.logo.small(src='images/darkEditorTheme.PNG' ,width='80%',height='80%')

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel
    +displayFlashes(flashes)
    .ui.raised.very.padded.text.container.segment
      .ui.two.column.doubling.stackable.grid.container
        .column
          h1.ui.header My Projects
        .right.column
          a.right
            button#new.ui.button.approve.green.show(style='float: right;') Create New Project
      br
      .ui.items
        each project in projects
          if project.creator === user.username
              .item
                a.ui.tiny.image
                  img(src='https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_Pokemon_Egg-128.png')
                .content
                  .ui.grid
                    .twelve.wide.column
                      b
                        a.header(href='/project?pid='+project.pid)= project.title
                      .description= project.description
                      | Last updated #{moment(project.createdAt).fromNow()}
                      | (
                      a(href='/profile/'+project.collaborator ) @#{project.collaborator}
                      |)
                    .four.wide.column
                      .button.ui.primary.right.labeled.icon.button
                        i.right.chevron.icon
                        | Setting
          else if project.collaborator === user.username
            .item
              a.ui.yellow.image.label.middle.aligned
                img(src='https://semantic-ui.com/images/avatar/small/elliot.jpg')
                .detail.middle Co-Worker
              .content
                a.header(href='/project?pid='+project.pid)= project.title
                |
                .description= project.description
                | Update x mins ago (
                a(href='/profile/'+project.creator)
                  | @
                  = project.creator
                |)
