extends layout/layout.pug

block script
  link(rel='stylesheet' href='/xterm/xterm.css')
  link(rel='stylesheet' href='/codemirror/lib/codemirror.css')
  link(rel='stylesheet' href='/codemirror/theme/blackboard.css')
  link(rel='stylesheet' href='/codemirror/theme/seti.css')
  link(rel='stylesheet' href='/codemirror/theme/material.css')

block content
    .ui.basic.modal#selectRole-modal
      .ui.icon.header
        i.users.icon
        |     Please Select Your Role
      .content
        .actions
          center
            .ui.blue.massive.inverted.positive.button
              i.keyboard.icon
              |       Coder
            .ui.green.massive.inverted.negative.button
              i.unhide.icon
              |       Reviewer
    .ui.modal
      .header Code Review
      .content
          .field
            label Line No :
            |  
            input.disabled(type='text', name='pLineNo', placeholder='Your Project Name', disabled='')
          .field
            label Comment :
            |  
            textarea(name='pDescription' rows='4' cols='50' placeholder='Something about this line')
          .field
            label Priority :
            select.ui.dropdown(name='pLanguage')
               option(value='2') High
               option(value='1') Medium
               option(value='0') Low
          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel

    .ui.container.segment
      .ui.grid
        .four.wide.column
          h1.ui.header= project.title
          p= project.description
        .seven.wide.column
          center
            .swap.time(style='margin: 0 0 10 0')
              #time <strong>Auto Swapping Role In:</strong> 15.00 min
              - let partner = user.username === project.creator ? project.collaborator : project.creator
              - let curUser = user.username === project.creator ? project.creator : project.collaborator
            .user.status
              i.green.circle.icon
              | #{partner} is now: 
              span.user.status!= '<strong><em>Offline</em></strong>'
              //- | <strong>Driver</strong> 
              //- i.green.circle.icon 
              //- | #{curUser} | 
              //- | <strong>Reviewer</strong> 
              //- i.green.circle.icon
              //- | #{partner}
        .five.wide.column.right
          center
            button.ui.primary.labeled.icon.button.disabled
              i.refresh.icon
              |  Switch Role
            |  
            button.ui.positive.labeled.icon.button(id='run' onClick='runCode()')
              i.terminal.icon
              |  Run
      .ui.divider
      br
      .ui.grid
        .four.wide.column
          .ui.top.attached.tabular.demo.menu
            a.active.item(data-tab='first') Project
            |  
            a.item(data-tab='second') Project Information
            .right.menu
              .item
          .ui.bottom.attached.active.tab.segment(data-tab='first')
            p
              .ui.list
                .item
                  i.folder.icon
                  .content
                    .header src
                    .description Source files for project
                    .list
                      .item
                        i.arrow.right.icon
                        i.file.icon
                        .content
                          .header main.py
                          .description Main python file
                .item
                  i.folder.icon
                  .content
                    .header test
                    .description Unit testing files
                    .list
                      .item
                        i.arrow.right.icon
                        i.folder.icon
                        .content
                          .header test_main.py
                          .description Unit testing for test_main
                .item
                  i.file.icon
                  .content
                    .header project_information.json
                    .description Project information
          .ui.bottom.attached.tab.segment(data-tab='second')
            | Second
        .twelve.wide.column.right
          .ui.form
              textarea#demotext.show
      .ui.grid
        .four.wide.column
          h1#title Video Chat
          style.
            .videoContainer {
            position: relative;
            width: 200px;
            height: 150px;
            }
            .videoContainer video {
            position: absolute;
            width: 100%;
            height: 100%;
            }
            .volume_bar {
            position: absolute;
            width: 5px;
            height: 0px;
            right: 0px;
            bottom: 0px;
            background-color: #12acef;
            }
          p#subTitle
          form#createRoom
          .videoContainer
            video#localVideo(style='height: 150px;', oncontextmenu='return false;')
            #localVolume.volume_bar
          #remotes
        .twelve.wide.column.right
          h1 Terminal
          #xterm-container
block footerExtend
  script.
    let user="#{user.username}"
    let partner="#{partner}"
  script(type='text/javascript').
    $(document).ready(function(){
        $('.demo.menu .item').tab({history:false});
    });
  script(src = '/codemirror/lib/codemirror.js')
  script(src = '/codemirror/mode/python/python.js')
  //- script(src = '/SimpleWebRTC-master/simplewebrtc.bundle.js')
  //- script(src = '/js/static/webrtc.js')
  script(src = '/js/static/socket.io.min.js')
  script(src = '/js/static/peer.min.js')
  script(src = '/xterm/xterm.js')
  script(src = '/xterm/addons/fit/fit.js')
  script(src = '/js/app/playground.js')