extends layout/layout.pug

block script
  link(rel='stylesheet' href='/xterm/xterm.css')
  link(rel='stylesheet' href='/codemirror/lib/codemirror.css')
  link(rel='stylesheet' href='/codemirror/addon/selection/active-line.js')
  link(rel='stylesheet' href='/codemirror/theme/blackboard.css')
  link(rel='stylesheet' href='/codemirror/theme/seti.css')
  link(rel='stylesheet' href='/codemirror/theme/material.css')
block content
    .ui.basic.modal#selectRole-modal
      .ui.icon.header
        i.users.icon
        |     Please Select Your Role
      .content
        .actions
          center
            .ui.blue.massive.inverted.positive.button
              i.keyboard.icon
              |       Coder
            .ui.green.massive.inverted.negative.button
              i.unhide.icon
              |       Reviewer
    .ui.modal
    .ui.reviewer.small.modal
      .header Code Review
      .content
          .field
            label Line No :
            |  
            input.disabled.line.no(type='text' placeholder='Your Project Name', disabled='')
          .field
            label Comment :
            |  
            textarea.line.description(rows='4' cols='50' placeholder='Something about this line')
          .field
            label Priority :
            select.ui.dropdown.line.priority
               option(value='2') High
               option(value='1') Medium
               option(value='0') Low
          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(onClick='submitReview()') Submit
              .ui.button.approve.red(data-value='cancel') Cancel
    .ui.coder.small.modal
      .header Review Description
      .content
          .field
            label Line No :
            |  
            input.disabled.line.no(type='text' placeholder='Line number', disabled='')
          .field
            label Comment :
            textarea.disabled.line.description(rows='4' cols='50' placeholder='Something about this line')
          .field
            label Priority :
            #priority
          .ui.basic.center.aligned.segment()
            .actions
              .ui.button.approve.red(data-value='cancel') Close

    .ui.container.segment
      .ui.grid
        .four.wide.column
          h1.ui.header= project.title
          p= project.description
        .seven.wide.column
          center
            .swap.time(style='margin: 0 0 10 0')
              #time <strong>Auto Swapping Role In:</strong> 15.00 min
              - let partner = user.username === project.creator ? project.collaborator : project.creator
              - let curUser = user.username === project.creator ? project.creator : project.collaborator
            .user.status
              i.green.circle.icon
              | #{partner} is now: 
              span.user.status!= '<strong><em>Offline</em></strong>'
              //- | <strong>Driver</strong> 
              //- i.green.circle.icon 
              //- | #{curUser} | 
              //- | <strong>Reviewer</strong> 
              //- i.green.circle.icon
              //- | #{partner}
        .five.wide.column.right
          center
            button.ui.primary.labeled.icon.button.disabled
              i.refresh.icon
              |  Switch Role
            |  
            button.ui.positive.labeled.icon.button(id='run' onClick='runCode()')
              i.terminal.icon
              |  Run
      .ui.divider
      br
      .ui.grid
        .four.wide.column
          .ui.top.attached.tabular.demo.menu
            a.active.item(data-tab='first') Project
            |  
            a.item(data-tab='second') Setting
            .right.menu
              .item
          .ui.bottom.attached.active.tab.segment(data-tab='first')
            p
              .ui.list
                .item
                  i.folder.icon
                  .content
                    .header src
                    .description Source files for project
                    .list
                      .item
                        i.arrow.right.icon
                        i.file.icon
                        .content
                          .header main.py
                          .description Main python file
                .item
                  i.folder.icon
                  .content
                    .header test
                    .description Unit testing files
                    .list
                      .item
                        i.arrow.right.icon
                        i.folder.icon
                        .content
                          .header test_main.py
                          .description Unit testing for test_main
                .item
                  i.file.icon
                  .content
                    .header project_information.json
                    .description Project information
          .ui.bottom.attached.tab.segment(data-tab='second')
            .ui.toggle.lightmodetoggle.checkbox
              input(type='checkbox',onChange='changeTheme()')#lightmodetoggle
              label Enable Light Mode 
          .ui.segments
            .ui.segment
              p Video Chat 
                button.ui.mute.toggle.button.active(onClick='muteEvent(this)')
                  i.unmute.icon
                button.ui.video.toggle.button.active(onClick='videoEvent(this)')
                  i.video.play.icon
            .ui.secondary.segment
              style.
                .videoContainer {
                position: relative;
                width: 200px;
                height: 150px;
                }
                .videoContainer video {
                position: absolute;
                width: 100%;
                height: 100%;
                }
                .volume_bar {
                position: absolute;
                width: 5px;
                height: 0px;
                right: 0px;
                bottom: 0px;
                background-color: #12acef;
                }
              p#subTitle
              form#createRoom
              p You
              .videoContainer
                video#localVideo(style='height: 150px;', oncontextmenu='return false;')
                #localVolume.volume_bar
              p Buddy
              #remotes
        .twelve.wide.column.right
          .ui.form
              textarea#demotext.show
          .ui.segments
            .ui.segment
              p Terminal
            .ui.secondary.segment
              #xterm-container
      .ui.grid
        .four.wide.column

        .twelve.wide.column.right

block footerExtend
  script.
    let user="#{user.username}"
    let partner="#{partner}"
  script(type='text/javascript').
    $(document).ready(function(){
        $('.demo.menu .item').tab({history:false});
    });
  script(src = '/codemirror/lib/codemirror.js')
  script(src = '/codemirror/mode/python/python.js')
  script(src = 'http://www.borntodev.com/SimpleWebRTC-master/simplewebrtc.bundle.js')
  script(src = 'http://www.borntodev.com/SimpleWebRTC-master/webrtc2.js')
  script(src = '/js/static/socket.io.min.js')
  //-script(src = '/js/static/peer.min.js')
  script(src = '/xterm/xterm.js')
  script(src = '/xterm/addons/fit/fit.js')
  script(src = '/js/app/playground.js')