extends layout/layout.pug

block script
    script(src='/easy-autocomplete/dist/jquery.easy-autocomplete.min.js')
    link(rel='stylesheet', href='/easy-autocomplete/dist/easy-autocomplete.min.css')
    script(type='text/javascript').
      const options = {}
      $.ajax({
        url: '/api/usernames',
        success: function (result) {
          options.data = result
          console.log(options)
        }
      })
      $(document).ready(function () {
        $('.newProject').click(function () {
          $('#newProject-modal').modal('show');
        });
        $('.settingProject').click(function () {
          $('#settingProject-modal').modal('show');
        });
        $("#collaborator").easyAutocomplete(options);
      });
    style.
      @media (min-height: 200px) {
      .ui.footer.form-page { /* Increased specificity for SO snippet priority */
      position: absolute;
      bottom: 0;
      width: 100%;
      }
      }
block content
    .ui.small.modal#settingProject-modal
      i.close.icon
      .header Setting Project
      .content
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |  
            input(type='text', name='title', placeholder='Your Project Name')
          .field
            label Description :
            |  
            input(type='text', name='description', placeholder='Something about your project')
          .content
            .ui.grid
              .eleven.wide.column
                .field
                  label Language :
                  select.ui.dropdown(name='language')
                    option(value='0') Python
                .field
              .five.wide.column
                  label Buddy ID :
                  |  
                  input(type='hidden' name='creator' value=user.username)
                  input#collaborator(type='text',name='collaborator', placeholder='Search users...')
          .field
            label Time  :
            select.ui.dropdown(name='swaptime')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
          .ui.form
            .inline.fields
              //- .fields
              //-   label(for='theme') Select your theme:
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', checked='', tabindex='0')
              //-       |  
              //-       label White (default)
              //-       img.logo.small(src='images/whiteEditorTheme.PNG' ,width='80%', height='15%')
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', tabindex='0')
              //-       |  
              //-       label Blackboard
              //-       img.logo.small(src='images/darkEditorTheme.PNG' ,width='80%',height='15%')

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel
              .ui.floated.alignedvertical.animated.deleteProject.button(tabindex='0')
                        .hidden.content Delete
                        .visible.content
                          i.trash.icon
    .ui.small.modal#newProject-modal
      i.close.icon
      .header Create New Project
      .content
        form.ui.form(action='/project', method='POST')
          .field
            label Project Name :
            |  
            input(type='text', name='title', placeholder='Your Project Name')
          .field
            label Description :
            |  
            input(type='text', name='description', placeholder='Something about your project')
          .content
            .ui.grid
              .eleven.wide.column
                .field
                  label Language :
                  select.ui.dropdown(name='language')
                    option(value='0') Python
                .field
              .five.wide.column
                  label Buddy ID :
                  |  
                  input(type='hidden' name='creator' value=user.username)
                  input#collaborator(type='text',name='collaborator', placeholder='Search users...')
          .field
            label Time  :
            select.ui.dropdown(name='swaptime')
               option(value='15') 15 minutes (Recommended)
               option(value='10') 10 minutes
               option(value='5') 5 minutes
          .ui.form
            .inline.fields
              //- .fields
              //-   label(for='theme') Select your theme:
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', checked='', tabindex='0')
              //-       |  
              //-       label White (default)
              //-       img.logo.small(src='images/whiteEditorTheme.PNG' ,width='80%', height='15%')
              //-   .field
              //-     .radio.checkbox
              //-       input.hidden(type='radio', name='theme', tabindex='0')
              //-       |  
              //-       label Blackboard
              //-       img.logo.small(src='images/darkEditorTheme.PNG' ,width='80%',height='15%')

          .ui.basic.center.aligned.segment()
            .actions
              button.ui.button.approve.green(type='submit') Create
              .ui.button.approve.red(data-value='cancel') Cancel
    +displayFlashes(flashes)
    .ui.raised.very.padded.text.container.segment
      h2.ui.header #{user.info.name} (@#{user.username})
      .ui.two.column.doubling.stackable.grid.container
        .column
          h1.ui Projects
        .right.column
      .ui.items
        each project in projects
          if project.creator === user.username
              .item
                a.ui.tiny.image
                  img(src='https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_Pokemon_Egg-128.png')
                .content
                  .ui.grid
                    .eleven.wide.column
                      b
                        a.header= project.title
                      .description= project.description
                      | Last updated #{moment(project.createdAt).fromNow()}
                      | (
                      a(href='/profile/'+project.collaborator ) @#{project.collaborator}
                      |)
                    .five.wide.column
                      
          else if project.collaborator === user.username
            .item
              a.ui.yellow.image.label.middle.aligned
                img(src='https://semantic-ui.com/images/avatar/small/elliot.jpg')
                .detail.middle Co-Worker
              .content
                a.header= project.title
                |
                .description= project.description
                | Last updated #{moment(project.createdAt).fromNow()} (
                a(href='/profile/'+project.creator)
                  | @
                  = project.creator
                |)
